* {
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1170px;
  /* border: 1px solid black; */
  margin: 0 auto;
  padding: 0 15px;
}

/* секция Header */

.header {
  width: 100%;
  background-color: #000000;
}

.header-wrapper {
  margin: 0 -15px;
  padding: 22px 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-logo {
  margin-bottom: 5px;
  /* height: 27px;
  width: 79px; */
}
.header-nav {
  margin: auto 0;
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__list-card {
}

.header-nav__list-link {
  text-align: left;
  display: block;
  margin: auto;
  width: 58px;
  opacity: 0.69;
  color: #ffffff;
  font-family: "Open Sans - Semibold";
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-decoration: none;
}

.header-nav__list-link:hover {
  color: #ff8b38;
  opacity: 0.8;
}

/* секция Fullscreen */

.fullscreen {
  width: 100%;
  background: url(/images/fullscreen\ image.png) #000000 no-repeat;
  background-size: cover;
  min-height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container.full {
  margin: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fullscreen__wrapper {
  padding: 10px 0;
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fullscreen-head__title {
  margin: auto;
  padding-top: 33px;
  /* Style for "MODERN AXU" */
  /* width: 512px; */
  color: #ffffff;
  font-family: "Raleway";
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}

.fullscreen-head__title:after {
  content: " ";
  display: block;
  background-color: #ffffff;
  width: 74px;
  height: 2px;
  margin-top: 36px;
  margin-bottom: 30px;
}

.fullscreen-head__text {
  padding-bottom: 40px;
  margin-left: 0px;
  /* Style for "Lorem ipsu" */
  /* width: 461px; */
  opacity: 0.8;
  color: #ffffff;
  font-family: Raleway;
  font-size: 1, 2rem;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 23px;
  text-align: left;
}

.fullscreen__btn {
  display: block;
  border: 2px solid #ffffff;
  padding: 10px 25px;
  width: 135px;
  color: #ffffff;
  font-family: "Open Sans - Semibold";
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.fullscreen-form {
  text-align: center;
  background-color: #ffffff;
  max-width: 374px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* border-top-right-radius: 5px;
  border-top-left-radius: 5px; */
}

.fullscreen-form__subtitle {
  background-color: #f5f5f5;
  margin: 0px 0px;
  padding-bottom: 15px;
  padding-top: 18px;
  width: 100%;
  /* Style for "Try Your F" */
  color: #333333;
  font-family: "Open Sans";
  font-size: 1.3rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}
.free {
  color: #ff8b38;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.fullscreen-form__name,
.fullscreen-form__email,
.fullscreen-form__password {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 36px;
  padding-left: 15px;
  width: 285px;
  height: 31px;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  font-size: 1rem;
  font-weight: 400;
  /* height: 31px; */
  color: #bdbdbd;
  font-family: "Open Sans";
  text-align: left;
  line-height: 31px;
}

.fullscreen-form__password {
  margin-bottom: 49px;
}

.fullscreen-form__submit {
  display: block;
  border: none;
  width: 100%;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ff8b38;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  /* border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; */
}

.fullscreen-form__submit:active {
  transform: scale(0.6, 0.6);
}

/* секция Socialmedia */

.socialmedia {
  width: 100%;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.38);
}

.social {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.socialmedia-head {
  max-width: 360px;
  margin: 0px 15px;
}
.socialmedia_subtitle {
  margin-left: 0px;
  padding-top: 22px;
  max-width: 122px;
  color: #333333;
  font-family: "Open Sans";
  font-size: 1.3rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.socialmedia_text {
  margin: auto;
  max-width: 360px;
  color: #86878b;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: left;
}

.social-list_media {
  padding-top: 29px;
  padding-bottom: 30px;
  max-width: 634px;
  display: flex;
  justify-content: space-between;
}
.socialmedia_item {
  margin: 0px 15px;
  /* height: 46px; */
  font-size: 2.9rem;
  font-weight: 400;
  color: #cccccc;
  text-align: left;
}

/*секция Awesome */
.awesome {
  width: 100%;
}

h2 {
  text-align: center;
  margin: 108px auto 30px;
  /* Style for "WHY THIS I" */
  max-width: 405px;
  color: #212121;
  font-family: Raleway;
  font-size: 2.3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
h2:after {
  content: "";
  display: block;
  height: 2px;
  width: 64px;
  background-color: #ff8b38;
  margin: 30px auto 30px;
}

.awesome-main {
  padding-top: 80px;
  padding-bottom: 105px;
  display: flex;
  margin: 0px -15px;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  margin: auto;
  margin-top: 30px;
  /* width: 350px; */
  color: #86878b;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.awesome-main__item {
  margin: 0px 15px;
  margin-top: 10px;
  max-width: 350px;
}
.awesome-main__img {
  margin: auto;
  /* margin-left: 140px;
  margin-right: 140px; */
  margin-bottom: 29px;
  width: 70px;
  height: 70px;
  border: 2px solid #ff8b38;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-self: center;
  align-items: center;
}

.awesome-main__img img {
  margin: auto;
}

h3 {
  margin: auto;
  /* max-width: 181px; */
  color: #333333;
  font-family: "Open Sans";
  font-size: 1.3rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

p {
  max-width: 350px;
  color: #86878b;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

/* Section-design */

.design {
  width: 100%;
  background: url(/images/u25_state0.png) #000000 no-repeat;
  background-size: cover;
}

.design-head {
  text-align: center;
  padding-bottom: 80px;
}

.design_subtitle {
  margin: auto;
  padding-top: 95px;
  max-width: 411px;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 2.3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.design_subtitle:after {
  content: "";
  display: block;
  height: 2px;
  width: 74px;
  background-color: #ffffff;
  margin: 26px auto 23px;
}

.design_text {
  display: block;
  margin: 23px auto 33px;
  max-width: 732px;
  opacity: 0.8;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;

  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.btn {
  display: block;
  margin: auto;
  border: 2px solid #ffffff;
  padding: 10px 25px;
  max-width: 135px;
  color: #ffffff;
  font-family: "Open Sans - Semibold";
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.btn:hover {
  color: #ff8b38;
}

/* Section-price */

.price {
  width: 100%;
  background-color: #f5f5f5;
}

.price-head {
  padding-bottom: 80px;
}
.price_subtitle:after {
  content: "";
  display: block;
  height: 2px;
  width: 64px;
  background-color: #ff8b38;
  margin: 30px auto 30px;
}
.price_subtitle {
  /* padding-top: 108px; */
  max-width: 306px;
}
.price-block {
  padding-bottom: 96px;
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.price-block_item {
  margin: 0 15px;
  display: block;
  /* border: 1px solid black; */
  max-width: 343px;
  margin-top: 35px;
}

.price-block_subtitle {
  background-color: #333333;
  padding: 21px 21px;
  /* Style for "Basic" */
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 1.3rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  /* Text style for "B, asic" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.price-block_number {
  display: block;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: #333333;
  /* padding: 30px 10px; */
  /* Style for "$0" */
  /* width: 75px;
  height: 60px; */
  color: #ffffff;
  font-family: "Raleway";
  font-size: 5.9rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;

  /* Text style for "0" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.price-block_number:first-letter {
  /* Text style for "$" */
  font-size: 2.2rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.price-block_payment {
  display: block;
  border-bottom: 5px solid #ff8b38;
  background-color: #333333;
  padding: 17px 22px;
  margin: auto;
}

.price-block_payment_text {
  margin: auto;
  margin-top: 0px;
  /* Style for "Free for L" */
  max-width: 120px;
  /* height: 12px; */
  opacity: 0.5;
  color: #ffffff;
  font-family: "Open Sans - Semibold";
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  /* Text style for "F, ree for" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.price-block_description_impotant {
  display: block;
  background-color: #ff8b38;
  padding: 13px 15px;
  /* Style for "OUR MOST P" */
  /* width: 145px;
  height: 12px; */
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  /* Text style for "O, UR MOST" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.price-block_description {
  margin: auto;
  border: 1px solid #f5f5f5;
  background-color: white;
}

.price-block_description_text {
  margin: auto;
  /* Style for "1 gb of sp" */
  width: 343px;
  color: #86878b;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

/* Section-comment */

.comment {
  width: 100%;
}

.comment-head {
  padding-bottom: 108px;
}

.comment_subtitle {
  /* Style for "WHAT OUR C" */
  max-width: 640px;
  /* height: 26px; */
  color: #212121;
  font-family: "Raleway";
  font-size: 2.3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
  /* Text style for "W, HAT OUR" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.comment_subtitle:after {
  content: "";
  display: block;
  height: 2px;
  width: 64px;
  background-color: #ff8b38;
  margin: 30px auto 30px;
}
/* .comment_text {
  padding-top: 62px;
} */

.comment-card {
  padding-bottom: 101px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.comment-card_item {
  margin: 0 15px;
  margin-top: 10px;
  width: 273px;
}
.comment-card_text {
  background-color: #d4d5da;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 12px;
  padding-right: 13px;
  position: relative;
}

.comment-card_text:after {
  content: " ";
  display: block;
  position: absolute;
  /* width: 0;
  height: 0; */
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 15px solid #d4d5da;
  /* top: 115px; */
  bottom: -15px;
  left: 24px;
}

.comment-card_text_desc {
  margin-top: 0px;
  width: 248px;
  /* Style for "Lorem ipsu" */
  color: #86878b;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: left;
  /* Text style for "L, orem ip" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.comment-card_person {
  margin-top: 25px;
}

.comment-card_img {
  float: left;
  width: 70px;
  margin-top: 1px;
  margin-left: 2px;
}

.comment-card_subtitle {
  /* Style for "Jeremy H." */
  width: 98px;
  height: 19px;
  color: #333333;
  font-family: "Open Sans";
  font-size: 1.3rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  /* Text style for "Jeremy H." */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.comment-card_post {
  margin-left: 87.5px;
  margin-top: 7px;
  /* Style for "Manager" */
  width: 57px;
  height: 14px;
  color: #86878b;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  /* Text style for "Manager" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

/*секция Contact */

.contact {
  width: 100%;
}
.contact-head {
  margin: auto;
  padding-bottom: 80px;
}

.contact_subtitle {
  /* Style for "CONTACT US" */
  color: #212121;
  font-family: "Raleway";
  font-size: 2.3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
}

.contact_subtitle:after {
  content: "";
  display: block;
  height: 2px;
  width: 64px;
  background-color: #ff8b38;
  margin: 30px auto 30px;
}

.contact_text {
  /* Style for "Lorem ipsu" */
  max-width: 359px;
  color: #86878b;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: center;
}
.contact-form {
  padding-bottom: 80px;
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-form-wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  width: 100%;
}

.contact-form__block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 527px;
}
.message {
  display: flex;
  align-self: flex-end;
  margin-top: 30px;
  width: 527px;
}

.contact-form__submit {
  margin: 0 15px;
  margin-top: 43px;
  border: none;
  border-radius: 5px;
  background-color: #ff8b38;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  width: 148px;
  height: 46px;
  color: #ffffff;
  font-family: "Open Sans - Semibold";
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

.contact-form__submit:active {
  transform: scale(0.6, 0.6);
}

.contact-form_name,
.contact-form_email,
.contact-form_subject {
  /* margin: 0 15px; */
  margin-top: 30px;
  border: none;
  background-color: #ffffff;
  font-size: 1rem;
  height: 31px;
  width: 100%;
  color: #bdbdbd;
  font-family: "Open Sans";
  box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
  margin-bottom: 16px;
}

textarea {
  /* margin: 0 15px; */
  border: none;
  background-color: #ffffff;
  font-size: 1rem;
  height: 180px;
  width: 100%;
  color: #bdbdbd;
  font-family: "Open Sans";
  box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
  margin-bottom: 16px;
  resize: none;
}

/*секция Footer */

footer {
  width: 100%;
  background-color: black;
}
.social-list {
  padding-top: 38px;
  margin: 0px auto 15px;
  display: flex;
  justify-content: center;
}

.social-list_item {
  width: 50px;
}

.footer_text {
  padding-bottom: 20px;
  margin: auto;
  width: 124px;
  opacity: 0.5;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.social-list_item {
  font-size: 1.5rem;
  font-weight: 400;
  color: #cccccc;
}

i:hover {
  color: #ff8b38;
}

/* Adaptive */

@media screen and (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .social {
    max-width: 90%;
  }
  /* .contact-form {
    text-align: center;
    margin: auto;
    display: block;
  } */

  /* .contact-form-wrapper {
    width: 100%;
  }
  .contact-form__block {
    width: 527px;
  }
  .message {
    width: 527px;
  }
  .textarea,
  .contact-form_name,
  .contact-form_email,
  .contact-form_subject {
    width: 100%;
  } */
}

@media screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }

  .fullscreen-head__img {
    width: 45%;
  }

  .social {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .socialmedia_subtitle {
    margin: auto;
    text-align: center;
  }

  .socialmedia_text {
    text-align: center;
  }

  .contact-form-wrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: 720px) {
  /* nav {
    display: none;
  } */
}

@media screen and (max-width: 580px) {
  html {
    font-size: 11px;
  }

  .header-logo__img img {
    max-width: 50px;
  }

  .fullscreen__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .fullscreen-head {
    text-align: center;
    margin-bottom: 15px;
  }
  .fullscreen-head__img {
    max-width: 100px;
  }
  .fullscreen-head__title {
    padding-top: 15px;
    text-align: center;
  }

  .fullscreen-head__title:after {
    display: none;
  }
  .fullscreen-head__text {
    display: none;
  }

  .fullscreen__btn {
    margin: auto;
    margin-top: 15px;
  }
}

@media screen and (max-width: 420px) {
  nav {
    display: none;
  }
  .social-list_media {
    padding-top: 0px;
    padding-bottom: 0px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .socialmedia_item {
    margin-top: 5px;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 7px;
  }

  .awesome-main__img img {
    max-width: 50px;
  }
}

@media screen and (max-width: 320px) {
  .fullscreen__btn {
    font-size: 12px;
  }

  .fullscreen-form__subtitle {
    font-size: 16px;
  }

  .fullscreen-form__submit {
    font-size: 18px;
  }

  .socialmedia_item {
    margin-bottom: 5px;
  }

  .price-block_item {
    max-width: 250px;
  }
  .price-block_description_text {
    max-width: 250px;
  }
}
